{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>To Do</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.to_do_items %}
          <li>
            {{ item.name }}
            <form action="{{ url_for('complete_item', card_id=item.id) }}" method="post" class="form-inline">
              <button type="submit">Move to Done</button>
            </form>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Doing</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.doing_items %}
          <li>
            {{ item.name }}
            <form action="{{ url_for('complete_item', card_id=item.id) }}" method="post" class="form-inline">
              <button type="submit">Move to Done</button>
            </form>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Done</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.done_items %}
          <li>
            {{ item.name }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <form action="/" method="post" class="form">
    <div class="form">
      <label for="name">Enter new item: </label>
    </div>
    <div class="form">
      <input type="text" name="new_item" id="name" required>
    </div>
    <div class="form">
      <input type="submit" value="Add">
    </div>
  </form>
{% endblock %}